:root {
  --color-primary: #ffb9f7;
  --color-primary-dark: #ff4cea;
  --color-grey-light-1: #d0d0d0;
  --color-grey-light-2: #ddc6da;
  --color-grey-dark-1: #404040;
  --color-grey-dark-2: #333;
  --shadow-light: 0 1rem 3rem rgba(0,0,0,.1);
  --shadow-dark: 0 1rem 3rem rgba(0,0,0,.4);
  --line-pink: 1px solid var(--color-primary-dark); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  min-height: 100vh;
  color: var(--color-grey-dark-2); }

.container {
  max-width: 120rem;
  margin: 8rem auto; }

.header {
  font-size: 14px;
  height: 150px;
  border-bottom: 2px pink solid;
  background-color: orangered;
  display: grid;
  grid-template-rows: repeat(3, 50px);
  grid-template-columns: 200px 1fr;
  grid-gap: 10px; }

.logo {
  height: 20rem;
  width: 20rem;
  margin-left: 0;
  grid-column: 1 / -1;
  grid-row: 1 / 2; }

.nav {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  justify-self: end;
  margin-top: 30px; }
  .nav-container {
    text-transform: uppercase;
    display: flex; }
  .nav-item {
    flex: 1 0 auto;
    font-size: 1.2em;
    font-weight: 500;
    padding: 0 5px;
    margin: 0 5px; }
    .nav-item a:link, .nav-item a:visited {
      text-decoration: none;
      color: var(--color-grey-dark-2); }
    .nav-item a:hover {
      color: var(--color-primary-dark);
      padding-bottom: 1rem;
      border-bottom: 2px var(--color-primary-dark) solid; }

.phone {
  font-size: 1.5em;
  font-weight: 800;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  justify-self: end; }
