:root {
  --color-primary-light: #ffb9f7;
  --color-primary-dark: #ff4cea;
  --color-primary: #ff75ea;

  --color-box: rgba(255, 117, 234, .2);

  --color-grey-light-1: #d0d0d0;
  --color-grey-light-2: #ddc6da;
  --color-grey-dark-1: #404040;
  --color-grey-dark-2: #333;

  --shadow-light: 0 1rem 3rem rgba(0,0,0,.1);
  --shadow-dark: 0 1rem 3rem rgba(0,0,0,.4);

  --line-pink: 1px solid var(--color-primary-dark);
}

$bp-largest: 75em;      //1200px
$bp-large: 68.75em;     //1100px
$bp-medium: 56.25em;    //900px
$bp-small: 37.5em;      //600px
$bp-smallest: 31.25em;  //500px
$bp-tiny: 27.5em;       //420px

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;  //1rem = 10px   10px/16px = .625 = 62.5%

  @media only screen and (max-width: $bp-large) {
    font-size: 50%;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  line-height: 1.6;
  min-height: 100vh;
  color: var(--color-grey-dark-2);
}
