////////////////////////////////////////
// LOGO

.logo {
  height: 20rem;
  width: 20rem;
  margin-left: 0;

  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

////////////////////////////////////////
// NAVIGATION

.nav {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  justify-self: end;
  margin-top: 3rem;
  
  &-container {
    text-transform: uppercase;
    display: flex;
  }
  
  a {
    &:link, &:visited {
      text-decoration: none;
    }
  }

  &-item {
    font-weight: 700;
    font-size: 1.6rem;
    flex: 1 0 auto;
    letter-spacing: .04em;
    margin: 0 .25rem;
    width: 13rem;
    height: 5.5rem;
    padding: 1rem 0;
    text-align: center;
    line-height: 4rem;
    background-color: transparent;
    transition: all .5s ease;

    &:hover {
      background-color: var(--color-primary-dark);
      color: #FFF;
    }

    &:last-child {
      padding-right: 0;
      margin-right: 0;
    }
  }
}
 
.phone {
  font-size: 1.7em;
  font-weight: 900;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  justify-self: end;
}

.color-box--1 {
  position: absolute;
  right: 12rem;
  bottom: -23rem;
  z-index: 100;
  content: "";
  background-color: var(--color-box);
  width: 58rem;
  height: 30rem;
}

.color-box--2 {
  position: absolute;
  right: 22rem;
  bottom: 3rem;
  z-index: 100;
  content: "";
  background-color: var(--color-box);
  width: 65rem;
  height: 33rem;
}


.heading {
  font-family: "Montserrat", sans-serif;
  font-size: 4rem;
  font-weight: 800;
  color: var(--color-grey-dark-2);
  line-height: 5rem;
  padding-bottom: 1.5rem;
}
