////////////////////////////////////////
// LOGO

.logo {
  height: 20rem;
  width: 20rem;
  margin-left: 0;

  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

////////////////////////////////////////
// NAVIGATION

.nav {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  justify-self: end;
  margin-top: 30px;
  
  &-container {
    
    text-transform: uppercase;
    display: flex;
  }
  
  &-item {
    flex: 1 0 auto;
    font-size: 1.2em;
    font-weight: 500;
    padding: 0 5px;
    margin: 0 5px;

    a {
      &:link, &:visited {
        text-decoration: none;
        color: var(--color-grey-dark-2);
      }

      &:hover {
        color: var(--color-primary-dark);
        padding-bottom: 1rem;
        border-bottom: 2px var(--color-primary-dark) solid;
      }
    }
  }
}
 
.phone {
  font-size: 1.5em;
  font-weight: 800;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  justify-self: end;
}
