////////////////////////////////////////
// LOGO

.logo {
  height: 20rem;
  width: 20rem;
  margin-left: 0;

  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

////////////////////////////////////////
// NAVIGATION

.nav {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  justify-self: end;
  margin-top: 30px;
  
  &-container {
    text-transform: uppercase;
    display: flex;
  }
  
  &-item {
    font-weight: 700;
    font-size: 1.6rem;
    flex: 1 0 auto;
    letter-spacing: .04em;
    margin: 0 15px;
    padding: 0 5px;

    &:last-child {
      padding-right: 0;
      margin-right: 0;
    }

    a {
      &:link, &:visited {
        text-decoration: none;
        color: var(--color-grey-dark-2);
      }

      &:hover {
        color: var(--color-primary-dark);
        padding-bottom: 1rem;
        border-bottom: 2px var(--color-primary-dark) solid;
      }
    }
  }
}
 
.phone {
  font-size: 1.7em;
  font-weight: 900;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  justify-self: end;
}

.color-box {
  position: absolute;
  right: 10rem;
  bottom: -25rem;
  z-index: 100;
  content: "";
  background-color: var(--color-box);
  width: 58rem;
  height: 30rem;
}