.container {
  max-width: 120rem;
  margin: 8rem auto;
}

////////////////////////////////////////
// HEADER

.header {
  font-family: Overlock, sans-serif;
  font-size: 1.4rem;
  height: 15rem;
  border-bottom: 2px var(--color-primary) solid;

  display: grid;
  grid-template-rows: repeat(3, 50px);
  grid-template-columns: 2rem 1fr;
  grid-gap: 10px;
  position: relative;
}

////////////////////////////////////////
// HERO

.hero {
  width: 100%;
  height: 60rem;
  background-image: url("../images/hero_image.png"); 
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  &-content{
    font-family: "Montserrat", sans-serif;
    position: relative;
    z-index: 200;
    font-size: 4rem;
    color: #fff;
    text-align: right;
    font-weight: 800;
    width: 30%;
    padding: .5rem;
    margin: .5rem 6rem 6rem .5rem;
  }
}

////////////////////////////////////////
// CONTENT

.content {
  width: 85%;
  padding: 1rem;
  margin: 4rem auto;
  display: flex;

  &-aboutus {
    width: 50%;
    
    &-text {
      width: 90%;
      padding: 0;
      margin: 0 1rem 0 0;
      font-size: 1.5rem;
      line-height: 1.9;
    }
  }

  &-newsletter {
    width: 50%;

    &-emailfield {
      position: relative;
      z-index: 1;
      width: 50rem;
      height: 7rem;
      background-color: var(--color-grey-light-2);
      border-radius: 5px;
      display: flex;
      justify-content: flex-end;
      box-shadow: var(--inner-shadow-dark);


      &-text {
        width: 100%;
        color: rgba(64, 64, 64, .5);
        font-size: 2.5rem;
        text-align: left;
        padding: 1rem 2rem;
        margin: auto 1.5rem;
      }

      &__button {
        position: relative;
        z-index: 2;
        width: 10rem;
        height: inherit;
        background-color: #FFF;
        border-radius: 0 5px 5px 0;
        box-shadow: inset 0 1px 2px rgba(64, 64, 64, .7);
        display: flex;
        justify-content: center;

        .arrow-right {
          margin: auto;
          width: 0; 
          height: 0; 
          border-top: 1.8rem solid transparent;
          border-bottom: 1.8rem solid transparent;
          
          border-left: 3.1rem solid var(--color-primary);
        }
      }
    }
  }
}

////////////////////////////////////////
// GALLERY

.gallery {

  &-container {
    position: relative;
    z-index: 10;
    background-color: var(--color-primary-light);

    display: grid;
    grid-template-rows: repeat (2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    padding: 7rem;
    box-shadow: var(--shadow-dark-2)
  }

  &-image {
    position: relative;
    width: 28rem;
    height: 40rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    justify-self: center;
    border-radius: 1rem;
    box-shadow: var(--shadow-images);
    text-decoration: none;
    overflow: hidden;

    &-desc {
      color: #FFF;
      text-align: center;
      font-size: 2rem;
      padding: 2rem 5rem;
    }

    &-1 {
      background-image: url("../images/mintchocolatefrosted.png");
    }

    &-2 {
      background-image: url("../images/whoppers.png");
    }

    &-3 {
      background-image: url("../images/cnadyexplosion.png");
    }

    &-overlay {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 30%;
      width: 100%;
      background: var(--color-img-hover);
      border-radius: 0 0 1rem 1rem;
      display: hidden;
      opacity: 0;
      transform: translateY(10rem);
      transition: var(--transitions);
    }
    
    &:hover .gallery-image-overlay {
      opacity: .9;
      transform: translateY(0);
      display: block;
    }
  }

  &-dots-container {
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1.5rem;
    width: 15rem;
    margin: auto;
  }

  &-dots {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    margin-top: 7rem;
    background-color: var(--color-grey-dark-2);
    justify-self: center;
  }
}

////////////////////////////////////////
// TESTIMONIALS

.testimonial {
  position: relative;
  z-index: 1;
  background-color: var(--color-grey-light-2);
  height: 45rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &-container {
    width: 65%;
    margin: 0 auto;
  }
  
  &-quote {
    position: relative;
    top: 2.4rem;
    left: -39rem;
    line-height: 1rem;
    font-family: 'Passion One', Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 10rem;
    color: var(--color-primary-dark);
  }

  &-text {
    position: relative;
    width: 100%;
    padding: 2rem;
    margin: 0 auto;
    text-align: center;
    font-size: 3rem;
    color: var(--color-grey-dark-1);
  }

  &-name {
    color: var(--color-grey-1);
    text-align: center;
    margin: 0;
    font-size: 1.5rem;
  }
}

////////////////////////////////////////
// FOOTER

.footer {

  background-color: var(--color-grey-dark-2);
  width: 100%;
  height: 44rem;
  padding: 7rem;
  display: grid;

  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);

  &-text {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    
    color: #FFF;
    line-height: 2.7rem;
    
    &--address {
      padding-bottom: 2rem;
    }

    &--header {
      font-size: 2rem;
      padding-bottom: 2rem;
    }

    &--email {
      font-weight: 600;
    }
  }

  &-social {
    align-self: end;
    width: 19rem;
    grid-row: 2 / 3;
    display: flex;
    justify-content: space-between;

    &--icons {
      height: 5rem;
      width: 5rem;
      
    }

    &--fb {
      background: #000 url('../images/fb.png');
      background-blend-mode: hard-light;
      border-radius: 50%;
    }

    &--ig {
      background: #000 url('../images/ig.png');
      background-blend-mode: hard-light;
      border-radius: 50%;
    }

    &--tw {
      background: #000 url('../images/tw.png');
      background-blend-mode: hard-light;
      border-radius: 50%;
    }
  }

  &-map {
    grid-column: 3 / 4;
    grid-row: 1 / -1;
    justify-self: end;
    width: 28.3rem;
    height: 30rem;
    background-image: url('../images/map.jpg');
  }
}