.container {
  max-width: 120rem;
  margin: 8rem auto;
}

////////////////////////////////////////
// HEADER

.header {
  font-family: Overlock, sans-serif;
  font-size: 1.4rem;
  height: 15rem;
  border-bottom: 2px var(--color-primary) solid;

  display: grid;
  grid-template-rows: repeat(3, 50px);
  grid-template-columns: 2rem 1fr;
  grid-gap: 10px;
  position: relative;
}

.hero {
  width: 100%;
  height: 60rem;
  background-image: url("../images/hero_image.png"); 
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  &-content{
    font-family: "Montserrat", sans-serif;
    position: relative;
    z-index: 200;
    font-size: 4rem;
    color: #fff;
    text-align: right;
    font-weight: 800;
    width: 30%;
    padding: .5rem;
    margin: .5rem 6rem 6rem .5rem;
  }
}

.content {
  width: 85%;
  padding: 1rem;
  margin: 4rem auto;
  display: flex;

  &-aboutus {
    width: 50%;
    
    &-text {
      width: 90%;
      padding: 0;
      margin: 0 1rem 0 0;
      font-size: 1.5rem;
      line-height: 1.9;
    }
  }

  &-newsletter {
    width: 50%;

    &-emailfield {
      position: relative;
      z-index: 1;
      width: 50rem;
      height: 7rem;
      background-color: var(--color-grey-light-2);
      border-radius: 5px;
      display: flex;
      justify-content: flex-end;
      box-shadow: var(--inner-shadow-dark);

      &-text {
        width: 100%;
        color: rgba(64, 64, 64, .5);
        font-size: 2.5rem;
        text-align: left;
        padding: 1rem 2rem;
        margin: auto 1.5rem;
      }

      &__button {
        position: relative;
        z-index: 2;
        width: 10rem;
        height: inherit;
        background-color: #FFF;
        border-radius: 0 5px 5px 0;
        box-shadow: inset 0 1px 2px rgba(64, 64, 64, .7);
        display: flex;
        justify-content: center;

        .arrow-right {
          margin: auto;
          width: 0; 
          height: 0; 
          border-top: 1.8rem solid transparent;
          border-bottom: 1.8rem solid transparent;
          
          border-left: 3.1rem solid var(--color-primary);
        }
      }
    }
  }
}

.gallery {

  &-container {
    background-color: var(--color-primary-light);

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    padding: 7rem 7rem 16rem;
  }

  &-image {
    position: relative;
    width: 28rem;
    height: 40rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    justify-self: center;
    border-radius: 1rem;
    box-shadow: var(--shadow-images);
    text-decoration: none;

    &-1 {
      background-image: url("../images/mintchocolatefrosted.png");

      &-desc {
        color: #FFF;
        text-align: center;
        font-size: 2rem;
        padding: 2rem 5rem;
      }
    }

    &-2 {
      background-image: url("../images/whoppers.png");
    }

    &-3 {
      background-image: url("../images/cnadyexplosion.png");
    }

    &-overlay {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      background: var(--color-img-hover);
      opacity: 0;
      transition: .5s ease;

      /*position: absolute;
      bottom: 0;
      color: #FFF;
      text-align: center;
      font-size: 2rem;
      padding: 2rem 5rem;
      background: var(--color-img-hover);
      height: 30%;
      border-radius: 0 0 1rem 1rem;
      opacity: 0;
      transition: .5s ease;*/
    }
    
    &:hover .gallery-image-overlay {
      opacity: .9;
      height: 30%;  
    }
  } 
}