.container {
  max-width: 120rem;
  margin: 8rem auto;
}

////////////////////////////////////////
// HEADER

.header {
  font-size: 14px;
  height: 150px;
  border-bottom: 2px pink solid;
  background-color: orangered;

  display: grid;
  grid-template-rows: repeat(3, 50px);
  grid-template-columns: 200px 1fr;
  grid-gap: 10px;
}

.hero {

}

.content{

}